@use "../../styles/variable" as *;

.errorImgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-lightgray;

  .responsizeErrorImgBig {
    display: block;
    @media (max-width: $screen-mobile) {
      display: none;
    }
  }
  .responsizeErrorImgSmall {
    display: none;
    @media (max-width: $screen-mobile) {
      display: block;
    }
  }
}

.successImgWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &.isSuccess {
    background-color: $color-white;
  }
}
