@use "../../styles/variable" as *;

.container {
  height: 40px;
  width: 80%;
  line-height: 40px;
  text-align: center;
  border: 1px solid $color-red;
  border-radius: 8px;
  color: $color-red;
  font-size: 14px;
  cursor: pointer;
  background-color: $color-white;
  transition: all 0.4s;

  &.active {
    background-color: $color-red;
    color: $color-white;
  }

  &.rounded {
    border-radius: 25px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
}
