@use "../../styles/variable" as *;

.errorImgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;

  .errorImg {
    max-width: 80%;
  }
}
