@use "../../styles/variable" as *;

.container {
  position: relative;
  display: inline-flex;
  width: 100%;

  background: $color-white;
  box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
  border-radius: 6px;

  &.hideBackground {
    background: transparent;
  }
}

.option {
  height: 40px;
  width: 100%;
  padding: 8px 5px 9px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.optionText {
  // width: 64px;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: $color-black;
}

.dropdownList {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  overflow: auto;
  background: $color-white;

  .option[data-selected="true"] {
    background: $color-red;
    color: $color-white;
  }

  .option:not([data-selected="true"]):hover {
    background: #ddd;
  }
}

.dropdownImgArea {
  position: absolute;
  right: 1px;
  top: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
