.container {
  margin-top: 60px;
  // padding-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.numberText {
  display: inline-block;
  min-width: 52px;
  margin: 0 20px;
  font-size: 20px;
  text-align: center;
}
