@use "../../styles/variable" as *;

.container {
  position: relative;
  max-width: $screen-desktop;
  margin-left: auto;
  margin-right: auto;
  padding: 0 110px;

  @media (max-width: $screen-tablet) {
    padding: 0 65px;
  }

  @media (max-width: $screen-mobile) {
    padding: 0 25px;
  }
}
