@use "../../styles/variable" as *;

.container {
  position: fixed;
  z-index: $z-index-modal;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  transition: opacity 0.15s linear;

  background: rgba(210, 210, 210, 0.75);

  &[data-bg="blur"] {
    transition: opacity 0.15s linear, backdrop-filter 1s ease-out;
    backdrop-filter: blur(7px);
  }

  &.show {
    opacity: 1;
    .content {
      transform: translate(0, 0);
      transition: transform 0.25s ease-out;
    }
  }

  &.hide {
    opacity: 0;
    .content {
      transform: translate(0, -10%);
      transition: transform 0.15s ease-out;
    }
  }

  padding: 60px 0;

  @media (max-width: $screen-tablet) {
    padding: 80px 46px;
  }

  @media (max-width: $screen-mobile) {
    padding: 60px 32px;
  }
}

.contentWrapper {
  min-height: 100%;
  // background: lightblue;

  display: flex;
  align-items: center;

  margin: 0 auto;
  width: 678px;

  @media (max-width: $screen-desktop-small) {
    width: 608px;
  }

  @media (max-width: $screen-tablet) {
    width: 100%;
  }
}

.content {
  position: relative;
  width: 100%;
  // background-color: white;
}

.closeBtnWrapper {
  position: absolute;
  top: 0;
  right: -12px;
  transform: translateX(100%);
  width: 45px;
  height: 45px;

  @media (max-width: $screen-tablet) {
    right: 0;
    top: -12px;
    transform: translateY(-100%);
    width: 40px;
    height: 40px;
  }

  @media (max-width: $screen-mobile) {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;

    .closeBtn {
      border-radius: 50%;

      &:hover {
        opacity: 1;
      }
    }
  }
}
