// Color
$color-red: #ff1d6c;
$color-yellow: #ffb72c;
$color-green: #007350;
$color-white: #ffffff;
$color-lightgray: #f6f7fb;
$color-gray: #acacac;
$color-black: #0d0b0c;

// Break Points
$screen-desktop: 1280px;
$screen-desktop-small: 992px;
$screen-tablet: 768px;
$screen-mobile: 576px;
$screen-mobile-small: 410px;

// Color Mixins
@mixin bg-color {
  &.green {
    background-color: $color-green;
  }

  &.red {
    background-color: $color-red;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.black {
    background-color: $color-black;
  }

  &.white {
    background-color: $color-white;
  }
}
@mixin font-color {
  &.green {
    color: $color-green;
  }

  &.red {
    color: $color-red;
  }

  &.yellow {
    color: $color-yellow;
  }
}
@mixin shadow-background {
  background: #0d0b0c;
  opacity: 0.3;
  filter: blur(4.3px);
}

@keyframes loading {
  0% {
    background-position: 130%;
  }
  100% {
    background-position: -30%;
  }
}

@mixin with-loading($bgColor: #0d0b0c) {
  background: linear-gradient(
      110deg,
      transparent 40%,
      hsla(0, 0%, 100%, 0.5) 50%,
      transparent 60%
    ),
    $bgColor;
  background-size: 200% 100%;
  animation: loading 1.5s ease-in-out infinite;
}
