// Color
$color-red: #ff1d6c;
$color-yellow: #ffb72c;
$color-green: #007350;
$color-white: #ffffff;
$color-lightgray: #f6f7fb;
$color-gray: #acacac;
$color-black: #0d0b0c;

// Break Points
$screen-desktop: 1280px;
$screen-desktop-small: 992px;
$screen-tablet: 768px;
$screen-tablet-small: 672px;
$screen-mobile: 576px;
$screen-mobile-small: 410px;

// Header Height (used by header & modal)
$header-desktop-height: 104px;
$header-tablet-height: 84px;
$header-mobile-height: 191px;

// Z Index
$z-index-search-panel: 1001;
$z-index-loading-shade: 1000;
$z-index-modal: 999;
$z-index-selecbox-list: 3;
$z-index-header: 2;
$z-index-header-shadow: 1;
$z-index-card-button: 1;

// Color Mixins
@mixin bg-color {
  &.green {
    background-color: $color-green;
  }

  &.red {
    background-color: $color-red;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.black {
    background-color: $color-black;
  }

  &.white {
    background-color: $color-white;
  }
}
@mixin font-color {
  &.green {
    color: $color-green;
  }

  &.red {
    color: $color-red;
  }

  &.yellow {
    color: $color-yellow;
  }
}
@mixin shadow-background {
  background: #0d0b0c;
  opacity: 0.3;
  filter: blur(4.3px);
}

@keyframes loading {
  0% {
    background-position: 130%;
  }
  100% {
    background-position: -30%;
  }
}

@mixin with-loading-bg($bgColor: #0d0b0c) {
  background: linear-gradient(
      110deg,
      transparent 40%,
      hsla(0, 0%, 100%, 0.5) 50%,
      transparent 60%
    ),
    $bgColor;
  background-position: 130%;
  background-size: 200% 100%;
  animation: loading 2s ease-in-out 1s infinite;
}

// Text Mixins
@mixin with-line-clamp($max-line-num) {
  @if ($max-line-num > 1) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $max-line-num;
    -webkit-box-orient: vertical;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
