// Color
$color-red: #ff1d6c;
$color-yellow: #ffb72c;
$color-green: #007350;
$color-white: #ffffff;
$color-lightgray: #f6f7fb;
$color-gray: #acacac;
$color-black: #0d0b0c;

// Break Points
$screen-desktop: 1280px;
$screen-tablet: 768px;
$screen-mobile: 576px;

// Color Mixins
@mixin bg-color {
  &.green {
    background-color: $color-green;
  }

  &.red {
    background-color: $color-red;
  }

  &.yellow {
    background-color: $color-yellow;
  }
}
@mixin font-color {
  &.green {
    color: $color-green;
  }

  &.red {
    color: $color-red;
  }

  &.yellow {
    color: $color-yellow;
  }
}
