@use "./variable" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-lightgray;
  font-family: "Noto Sans TC", "Roboto";
}

body,
html {
  height: 100%;
}

#__next {
  height: 100%;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}
